@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    src: local('Inter-Black'),
         url('../../vendor/Inter-Black.woff2') format('woff2'),
         url('../../vendor/Inter-Black.woff') format('woff'),
         url('../../vendor/Inter-Black.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    src: local('Inter-Regular'),
         url('../../vendor/Inter-Regular.woff2') format('woff2'),
         url('../../vendor/Inter-Regular.woff') format('woff'),
         url('../../vendor/Inter-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    src: local('Inter-Bold'),
         url('../../vendor/Inter-Bold.woff2') format('woff2'),
         url('../../vendor/Inter-Bold.woff') format('woff'),
         url('../../vendor/Inter-Bold.otf') format('opentype');
  }

.page {
    margin: 0 auto;
    background-color: #2A2C2F;
    max-width: 1440px;
    min-width: 320px;
}