.layout-container {
    margin: 0 48px;
    width: calc(100% - 96px);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr 18px 1fr;
    grid-template-columns: repeat(12, 1fr);
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
    -ms-grid-rows: (auto)[7];
    grid-template-rows: repeat(7, auto);
            grid-template-areas:
    'header header header header header header header header header header header header'
    '. lead lead lead lead lead lead lead lead lead lead .'
    '. intro intro intro intro intro intro intro intro intro intro .'
    'photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid'
    '. places places places places places places places places places places .'
    'cover cover cover cover cover cover cover cover cover cover cover cover'
    'footer footer footer footer footer footer footer footer footer footer footer footer'
}

@media (max-width: 1024px) {
    .layout-container {
        -webkit-column-gap: 16px;
           -moz-column-gap: 16px;
                column-gap: 16px;
            grid-template-areas:
        'header header header header header header header header header header header header'
        'lead lead lead lead lead lead lead lead lead lead lead lead'
        'intro intro intro intro intro intro intro intro intro intro intro intro'
        'photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid photo-grid'
        'places places places places places places places places places places places places'
        'cover cover cover cover cover cover cover cover cover cover cover cover'
        'footer footer footer footer footer footer footer footer footer footer footer footer'
    }
}

@media (max-width: 768px) {
    .layout-container {
        margin: 0 24px;
        width: calc(100% - 48px);
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 16px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 16px;
           -moz-column-gap: 16px;
                column-gap: 16px;
        -ms-grid-rows: (auto)[7];
        grid-template-rows: repeat(7, auto);
            grid-template-areas:
        'header header'
        'lead lead'
        'intro intro'
        'photo-grid photo-grid'
        'places places'
        'cover cover'
        'footer footer'
    }
}

@media (max-width: 375px) {
    .layout-container {
        margin: 0 16px;
        width: calc(100% - 32px);
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: none;
        grid-template-columns: none;
        -ms-grid-rows: (auto)[7];
        grid-template-rows: repeat(7, auto);
            grid-template-areas:
        'header'
        'lead'
        'intro'
        'photo-grid'
        'places'
        'cover'
        'footer'
    }
}