.places {
    grid-area: places;
    padding-top: 92px;
    margin: 0;
}


    @media (max-width: 960px) {
        .places {
            padding-top: 88px;
        }
    }
    
    @media (max-width: 375px) {
        .places {
            padding-top: 64px;
        }
    }