.place__image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

@media (max-width: 375px) {
    .place__image {
        width: calc(100% + 32px);
        margin-left: -16px;
    }
}