@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image-container/lead__image-container.css');
@import url('./__image/lead__image.css');
@import url('./__scheme/lead__scheme.css');
@import url('./__caption/lead__caption.css');

.lead {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    margin: 0 100px;
}

@media (max-width: 1200px) {
    .lead {
        margin: 0;
    }
}