@import url('./__lang-link/header__lang-link.css');
@import url('./__logo/header__logo.css');

.header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    min-height: 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-area: header;
    padding: 28px 0 56px 0;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .header {
        min-height: 128px;
        padding-bottom: 48px;
    }
}

@media (max-width: 375px) {     /*испр*/
    .header {
        min-height: 106px;
        padding-top: 16px;
    }
}