@import url('./__lang-link/header__lang-link.css');
@import url('./__logo/header__logo.css');

.header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 320px;
    min-height: 52px;
    padding: 0 48px;
    margin: 28px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (max-width: 768px) {
    .header {
        padding: 0 24px;
    }
}

@media (max-width: 375px) {
    .header {
        min-height: 42px;
        padding: 0 16px;
        margin: 16px 0 0 0;
    }
}