.comments__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    color: #fff;
    margin: 0 192px 48px 192px;
    text-align: center;
}