.comments__subtitle {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
    margin: 0 272px 72px 272px;
    text-align: center;
}