@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__list-item/intro__list-item.css');
@import url('./__digit/intro__digit.css');

.intro {
    padding-top: 92px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 100px;
    max-width: 690px;
}

@media (max-width: 1200px) {
    .intro {
    margin-left: 0;
    }
}

@media (max-width: 960px) {
    .intro {
    padding-top: 88px;
    max-width: none;
    width: 100%;
    }
}

@media (max-width: 375px) {
    .intro {
    padding-top: 64px;
    }
}