.lead__image-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 8px;
}

@media (max-width: 1200px) {}

@media (max-width: 960px) {
    .lead__image-container {
        width: calc(100% + 48px);
        margin-left: -24px;
    } 
}

@media (max-width: 760px) {
}

@media (max-width: 375px) {
    .lead__image-container {
        width: calc(100% + 32px);
        margin-left: -16px;
    }    
}