.lead__subtitle {
    max-width: calc(100% - 344px);
    margin: 0 auto 64px auto;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
}

@media (max-width: 1200px) {
    .lead__subtitle {
        max-width: calc(100% - 288px);
        margin-bottom: 56px;
    }
}

@media (max-width: 960px) {
    .lead__subtitle {
        max-width: calc(100% - 80px);
    }
}

@media (max-width: 760px) {
    .lead__subtitle {
        max-width: calc(100% - 60px);
        font-size: 24px;
        line-height: 1.2;

    }
}

@media (max-width: 375px) {
    .lead__subtitle {
        max-width: 100%;
        font-size: 16px;
        line-height: 1.2;
    }
}