.place__link {
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
}

.place__link:hover {
    opacity: .6;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.place__link:visited {
    color: #ff9;
}