.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
}

@media (max-width: 760px) {
    .footer__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 48px;
    }
}