.shields__card {
    min-width: 208px;
    max-height: 284px;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    text-align: center;
}

@media (max-width: 1200px) {
    .shield__card {

    }
}

@media (max-width: 760px) {
    .shield__card {
     
    }
}