.cover__background {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-image: url('../../../images/transsib.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 740px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.cover__background::after {
    display: block;
    content: '';
    background-color: #2A2C2F;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cover__background:hover::after {
    opacity: .8;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

@media (max-width: 1200px){
    .cover__background {
        min-height: 640px;
    }
}

@media (max-width: 960px){
    .cover__background {
        min-height: 480px;
    }
}

@media (max-width: 375px){
    .cover__background {
        min-height: 200px;
    }
}