.place__website {
    margin: 0;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
}

@media (max-width: 375px) {
    .place__website {
        display: none;
    }
}