.video__container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
}

@media (max-width: 960px) {
    .video__container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
    }
}