.comments__card-person {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1px;
    color: #fff;
    text-align: left;
    margin: 0;
}

@media (max-width: 760px) {
    .comments__card-person {
        text-align: center;
    }
}